<html>
	<head>

		<link rel="stylesheet" type="text/css" href="./assets/reset.css">
		<link rel="stylesheet" type="text/css" href="./assets/style.css">

		<title>Food Board</title>.
	</head>
	<body>

		<h1>Food Board</h1>

		<p>
		 What do you want to eat today?
		</p>

		<table>
			<% for (let i = 0; i < messages.length; i++) { %>
				<tr>
				 <td><%= messages[i].title %> </td>
				 <td><%= messages[i].body %> </td>
				 <td><%= messages[i].created %> </td>
				</tr>
			<% } %>
		</table>

		<a href="http://localhost:3000/form">View database</a>

	</body>
</html>
