<html>
	<head>
		<link rel="stylesheet" type="text/css" href="./css/resets.css">
		<link rel="stylesheet" type="text/css" href="./css/styleerror.css">
		<title>You done messed up now!</title>
	</head>

	<body>
<p>
		<img src="images/fail.jpg" id="fail" class="photo">
</p>

	<p1>
		Fail!
	</p1>

	<p2>
		Post both items!
	</p2>

	</body>

</html>
