<html>
	<head>
		<link rel="stylesheet" type="text/css" href="./css/resets.css">
		<link rel="stylesheet" type="text/css" href="./css/styleerror.css">
		<title>YOU'RE A ROTTEN TOMATO!!</title>
	</head>

	<body>
<p>
		<img src="/css/images/fail.gif . webloc" id="fail" class="gif"></div>
</p>

	<p1>
		Fail!
	</p1>

	<p2>
		Post both items!
	</p2>

	</body>

</html>
Contact GitHub API Training Shop Blog About
