h1 {
  font-family: "Raleway", sans-serif;
  font-size: 80px
}

p {
	font-family: "Raleway", sans-serif;
	padding-top: 10px;
	padding-bottom: 10px;
	color: black;
	font-size: 30px
}

body {
	/*background-image: */
	font-size: 15px;
	text-align: center;
	color: black;
	padding-left: 55px;
}

table, th, td {
  font-family: "Raleway", sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid black;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
}
